section {
  display: block;
}

h3 {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

/* li {
  list-style-type: none;
} */

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  cursor: pointer;
}

h4 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  margin: 0;
  padding: 0;
}

  
.aboutSupport {
  width: 85%;
  margin: auto;
}

.aboutSupport .list {
  width: 85%;
  margin: 24px auto;
  padding: 24px;
  background: #f3f6fb;
}

.aboutSupport .list h4 {
  color: #0f50ad;
  text-align: center;
  margin-bottom: 24px;
  font-size: 18px;
}

.aboutSupport .list li {
  align-items: center;
  padding: 4px 0;
}

/* .aboutSupport .list li:before {
  content: '';
  display: inline-block;
  background: url() no-repeat left center;
  width: 22px;
  height: 22px;
  margin-right: 4px;
  vertical-align: middle;
} */

.signUpBox {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.signUpBox span {
  color: #0f50ad;
}

.signUpBox .searchBtn {
  margin: 24px auto;
  width: 90%;
  background: #06c755;
}

.signUpBox .searchBtn a {
  display: block;
  padding: 16px;
  color: #fff;
}

.pointBox {
  margin: 64px 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pointBox .point {
  flex: 0 0 95%;
  background: #f9efef;
  padding: 24px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 24px;
}

.pointBox .point h4.icon {
  display: inline-block;
  background: #d25954;
  padding: 4px 8px;
  color: #fff;
  position: absolute;
  top: -20px;
}

.pointBox .point h4.title {
  border-bottom: solid 2px #d25954;
  margin-bottom: 16px;
  padding-bottom: 8px;
  font-size: 17px;
}

#flowing {
  position: relative;
  min-width: 680px;
  overflow: hidden;
}

#flowing {
  display: block;
}

#flowing {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

#flowing h1 {
  background-color: #073289;
  color: #fff;
  display: block;
  text-align: center;
  font-weight: bold;
  position: relative;
  z-index: 5;
  height: 150px;
  line-height: 2.5em;
  padding-top: 40px;
}

#flowing h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

:-webkit-any(article, aside, nav, section) h1 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

#flowing h1:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: solid;
  border-color: #073289 transparent transparent transparent;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -28px;
}

.d-b {
  display: block;
}

.fz-30 {
  font-size: 30px;
}

#flowing span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

#flowing .three-minutes {
  display: block;
  border: 2px solid #fff;
  background-color: #073289;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

.fz-27 {
  font-size: 27px;
}

.l-center {
  width: 100%;
  height: 80%;
  display: table;
}

.l-center-cell {
  box-sizing: border-box;
  height: 80%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
}

#flowing .bg-alpha {
  padding-top: 10px;
  min-height: 410px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  margin-top: -40px;
}

.wrap-content {
  width: 870px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#flowing .flowing-text {
  padding-bottom: 30px;
}

#flowing p {
  padding-top: 0;
  padding-bottom: 0;
}

#flowing p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.75em;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

#flowing p {
  vertical-align: baseline;
}

.ta-c {
  text-align: center;
}

.fw-b {
  font-weight: bold;
}

.fz-23 {
  font-size: 23px;
}

.c-8 {
  color: #333333;
}

.fz-16 {
  font-size: 16px;
}

#flowing .btn_outplacement {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  left: 261px;
  width: 350px;
  font-size: 16px;
  height: auto;
  line-height: 50px;
  background-color: #073289;
  border: 3px solid #073289;
}

.btn_outplacement {
  margin: auto;
  display: block;
  color: #fff;
  font-weight: bold;
  text-align: center;
  transition: 0.2s;
}

#flowing a {
  outline: none;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  background: transparent;
}

#flowing a:-webkit-any-link {
  cursor: pointer;
}

.va-m {
  vertical-align: middle;
}

.d-ib {
  display: inline-block;
  zoom: 1;
}

.mr-15 {
  margin-right: 15px;
}

[class^="icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.fz-12 {
  font-size: 12px;
}

#flowing i {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}


/* 適職診断*/
.pageContents {
  width: 950px;
  margin: 20px auto;
}

.clearfix {
  min-height: 1px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.shindan .main {
  border: 10px solid #92c8e2;
  width: 930px;
}

.shindan .main .main_title {
  background: url() no-repeat top;
  width: 930px;
  height: 0;
  padding-top: 126px;
  
}

.shindan .main .exBox {
  width: 860px;
  margin: 20px auto;
  display: flex;
}

.shindan .main .txt {
  width: 485px;
  margin-right: 20px;
}

.shindan .main .txt .txt_title {
  background: url() no-repeat left top;
  height: 0;
  padding-top: 84px;
  
}

.shindan .main .txt .result_txt {
  font-size: 14px;
  margin: 10px 20px 20px;
}

.shindan .main .txt .result_txt span {
  font-size: 18px;
  font-weight: bold;
  color: #ff9900;
}

.shindan .main .txt dl {
  margin: 10px 0 10px 20px;
}

dl {
  padding: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.shindan .main .txt dt {
  background: url() no-repeat 0 0;
  height: 0;
  padding-top: 24px;
  
}

dt {
  margin: 0;
  padding: 0;
  display: block;
}

.shindan .main .txt dd {
  font-size: 14px;
  margin: 4px 0 6px;
}

dd {
  padding: 0;
  display: block;
  margin-inline-start: 40px;
}

.shindan .main .txt dt.point2 {
  background-position: 0 -24px;
}

.shindan .main .txt dt.point3 {
  background-position: 0 -48px;
}

.shindan .main .photo {
  margin-right: 20px;
  width: 320px;
  height: 305px;
  background: url(https://pixabay.com/get/g087ee733726881bf3977a6925f64b9d53a82fe6aaa4866d46d2ac10690a0bf14d24215b15e53bfe6e8dc51d6d28f525edfb50211a45d541c35e041b6bcde1db1_640.jpg) no-repeat center;
  position: relative;
}

.shindan .main .photo a {
  position: absolute;
  bottom: 0;
  display: block;
  text-align: center;
  font-size: 14px;
  width: 100%;
}

.shindan .main .photo a:link {
  color: #18448d;
  outline: none;
}

.shindan .main .photo a:-webkit-any-link {
  cursor: pointer;
  text-decoration: underline;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.shindan .nextBox {
  border: 1px solid #d1d1d1;
  width: 760px;
  padding: 12px 30px;
  margin: 10px auto 15px;
  background: url(https://pixabay.com/get/g273a37d61dd762d1fb6fab41d02421c317c80e56518c849e57b937cd0ee34be0b9a40c9830c0ee3883dff5033601c92490b8e838b447da8e89f7a1847bc19f71_640.jpg) repeat-x bottom;
}

.shindan .nextBox .start {
  background: url(https://pixabay.com/get/gc48e4367ec10aff9da0faa103f013d345d34104a5c9ffed30d38a281eb9dc93d82ca122673bcf9ad806a5eed176805cd_640.jpg) no-repeat left center;
  height: 185px;
  padding: 15px 0 0 360px;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
}

.shindan .nextBox .btnORG {
  width: 340px;
  margin: 12px auto 0;
}

.btnORG {
  border: 1px solid #b93322;
  border-radius: 4px;
  background: #dd4b39;
  box-shadow: 0 2px 3px rgb(0 0 0 / 30%);
  box-sizing: border-box;
}

.btnORG a:visited {
  color: #fff;
}

.btnORG a {
  line-height: 1.0;
  text-decoration: none;
  display: block;
  font-size: 16px;
  padding: 10x 5px 9px;
  text-align: center;
  box-sizing: border-box;
}

.digest-title__box {
  border-bottom: 0.4rem solid #a87b51;
  margin: 7rem 0 4rem;
  width: 100%;
}

.digest-title__box .digest-title {
  color: rgb(168, 123, 81);
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

main {
  padding-top: 9.6rem;
}

main.page-digest section {
  padding: 0;
}

main section {
  margin: 0 auto;
  max-width: 158rem;
  padding: 10rem 5rem;
}

.concept__box {
  margin: 0 auto 8rem;
  max-width: 90rem;
  text-align: center;
  width: 100%;
}

.concept__box .concept__title {
  font-size: 2.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

main.page-digest section.full--width {
  max-width: 100%;
}

main.page-digest section {
  padding: 0;
}

.separate__line {
  border-top: 1px solid #bebebe;
  margin: 0;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-bottom: 19px;
  margin-top: 19px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.anchor {
  margin-top: 9.6rem;
  padding-top: 9.6rem;
}

.item__box .item-image__box {
  max-width: 68rem;
  width: 100%;
}

.slick-slider {
  margin-bottom: 3rem;
}

.slick-slider, .slick-list {
  display: block;
  position: relative;
}

.slick-slider {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  touch-action: pan-y;
  user-select: none;
}

.slick-slider .slick-list, .slick-slider .slick-track {
  transform: translateZ(0);
}

.slick-list {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.slick-track {
  display: block;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
}

.slick-track::after {
  clear: both;
}

.slick-track::after, .slick-track::before {
  content: "";
  display: table;
}

::after ::before {
  box-sizing: border-box;
}

.slick-slider .slick-slide {
  position: relative;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.carousel-inner {
  overflow: hidden;
  width: 100%;
}

.carousel-inner {
  position: relative;
}

.slick-slider .slick-slide img {
  width: 100%;
}

.slick-slide img {
  display: block;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

img {
  vertical-align: middle;
}

img {
  border: 0;
}

.item__box .item-information__box {
  padding: 4rem 10rem 0 0;
  text-align: left;
  width: calc(100% - 72rem);
}

.item__box .item-information__box .item__titel {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 1.6;
  margin-bottom: 3.5rem;
}

.item__box .item-information__box .item__titel::after {
  background-color: #a87b51;
  content: "";
  display: block;
  height: 0.2rem;
  margin-top: 2rem;
  width: 6rem;
}

h3, h4 {
  color: #1a1a1a;
  margin: 0;
}

h3, h4 {
  font-size: 24px;
}

h3, h4 {
  margin-bottom: 9.5px;
  margin-top: 19px;
}

h3, h4 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

h3, h4 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.item__box .item-information__box .item__sub-titel {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.item__box .item-information__box .item__copy {
  color: #4c4c4c;
  font-size: 1.6rem;
  line-height: 1.7;
  margin-bottom: 3rem;
}

.btn.article__btn {
  max-width: 33rem;
  padding-left: 3rem;
  width: 100%;
}

.btn {
  align-items: center;
  border: 2px solid #1a1a1a;
  border-radius: 0;
  color: #1a1a1a;
  display: flex;
  font-size: 1.6rem;
  height: 5rem;
  justify-content: center;
  position: relative;
}

.btn {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.item-information__box a {
  transition: all .3s ease-out;
}

.item-information__box a {
  color: #3097d1;
  text-decoration: none;
}

.item-information__box a {
  background-color: transparent;
}

.item-information__box a:-webkit-any-link {
  cursor: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.btn.article__btn::after {
  background: url() no-repeat top/cover;
  content: "";
  display: block;
  height: 1.1rem;
  position: relative;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2.6rem;
}

.item__box.even {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 591px) {
  .digest-title__box .digest-title {
    font-size: 2.4rem;
  }

  main {
    padding-top: 6rem;
  }

  main section {
    padding: 4rem 1rem;
  }

  .concept__box {
    padding: 0 1.5rem;
  }

  .concept__box .concept__title {
    font-size: 1.8rem;
  }

  .item__box {
    flex-direction: column;
    padding: 3rem 0;
  }

  .item__box .item-image__box {
    margin-bottom: 1.5rem;
  }

  .item__box .item-image__box {
    padding: 0 1.5rem;
    width: 100%;
  }

  .item__box .item-information__box {
    padding: 0 1.5rem;
    width: 100%;
  }

  .item__box .item-information__box .item__titel {
    font-size: 2.2rem;
  }

  .item__box .item-information__box .item__sub-titel {
    font-size: 1.8rem;
  }

  .item__box .item-information__box .item__copy {
    font-size: 1.4rem;
  }

  .item__box.even {
    flex-direction: column;
  }

}

@media only screen and (max-width: 768px) {
  main section {
    padding: 4rem 3rem;
  }

  .concept__box {
    margin-bottom: 4rem;
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 1024px) {
  main {
    padding-top: 6rem;
  }

  .anchor {
    margin-top: -6rem;
    padding-top: 6rem;
  }
}

@media only screen and (max-width: 1400px) {
  main section {
    max-width: 130rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .item__box {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 132rem;
    padding: 4rem 0;
  }

  .item__box .item-image__box {
    width: calc(50% - 1.5rem);
  }

  .item__box .item-information__box {
    padding: 0;
    width: calc(50% - 1.5rem);
  }
}